button {
    height: 30px;
    width: 30px;
    outline: none;
  }
  
  #loggedin_main {
    width: 400px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    /* display: none;*/
    align-items: center;
    justify-content: center;
  }
  .btn-group1 {
    width: 100%;
    height: 100%;
  }
  .btn-group1 button {
    background-color: #f4f442; /* Green background */
    border: 1px solid black; /* Green border */
    cursor: pointer; /* Pointer/hand icon */
    width: 40%; /* Set a width if needed */
    /* display: none; Make the buttons appear below each other */
    /* margin-top: 25%; */
    margin-left: 6.66%;
    color: black;
    border-radius: 5px;
    font-family: monospace;
    display: inline;
  }

  .btn-group1 #logout_button {
    margin-top: 2%;
  }

  /* Add a background color on hover */
  .btn-group1 button:hover {
    background-color: black;
    color: white;
  }

  #before_login, #after_login {
    display: none;
    width: 100%;
  }

  #highlight_list {
    width: 100%;
    padding-inline-start: 0%;
    height: 258px;
    overflow: auto;
    overflow-x: hidden;
    padding: 0%;
    margin: 0%;
  }

  .each_highlight {
    padding-inline-start: 1%;
    border-bottom: 1px solid black; /* Green border */
    width: 92%;
    float: left;
  }

  .each_highlight li {
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    font-size: 13px;
    margin-left: 0%;
    padding-left: 0%;
    height: 100%;
    display: inline-block;
  }

  #after_logout {
    margin-block-start: 1%;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    border-width: 1px;
    
  }

.loader {
  display: inline-block;
  width: 8%;
  height: 8%;
  position: relative;
  border: 4px solid #e6e600;
  top: 42%;
  left: 46%;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #e6e600;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

#loader_div {
  background-color:  #ffffff;
  width: 94%;
  padding-inline-start: 0%;
  height: 258px;
  padding: 0%;
  margin: 0%;
  position: absolute;
  z-index: 2;
  display: none;
}

#no_highlight_div {
  background-color:  #ffffff;
  width: 94%;
  padding-inline-start: 0%;
  height: 250px;
  padding: 0%;
  margin: 0%;
  position: absolute;
  z-index: 3;
  display: none;
  justify-content: center;
  align-items: center;
}

#no_highlight_p {
  font-family: monospace;
  font-size: 13px;
}

.delete_sign {
  float: right;
  margin-right: 2%;
  margin-top: 3.4%;
}

.no_decoration {
  text-decoration: none;
}

#tabs {
  width: 100%;
  height: 20%;
  display: inline-block;
  background-color: black;
}
