<html>
  <head>
      <!-- <link rel="stylesheet" href="/stylesheets/users/done.css"> -->
      <link rel="stylesheet" href="/stylesheets/users/login-signup.css">      
  </head>
  <body>
    <script src="/javascripts/extension.js"></script>    
    <div class="login-page">
      <div class="form">
        <img id="done-image" src="/images/tick.png">
        <p class="done-success"><%= successMessage%></p>
        <p class="done-success">Keep <span id="done-highlight">Highlighting!! </span> Taking you back in a while....</p>
        <script>
          passToExtension(<%- JSON.stringify(data) %>);
        </script>
      </script>
      </div>  
    </div>
  </body>
</html>