<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/users/login-signup.css">
  </head>
  <body>
    <div class="forgot-password-page">
      <% if(iserror){ %>
        <span id="errormessage"><%= errorMessage%></span> 
      <% } %>    
      <div class="form">
        <form class="forgot-password-form" method="POST">
          <h3>Please type the email you registered with:</h3>
          <input type="text" name="email" placeholder="Your email" required/>
          <input id='submit' type="submit" value="Send an email"/>
        </form>
      </div>  
    </div>
  </body>
</html>