<html>
  <head>
      <!-- <link rel="stylesheet" href="/stylesheets/users/done.css"> -->
      <link rel="stylesheet" href="/stylesheets/users/login-signup.css">      
  </head>
  <body>
    <div class="reset-password-page">
      <div class="form">
        <img id="done-image" src="/images/tick.png">
        <p class="done-success"><%= successMessage%></p>
        <p class="done-success">Keep <span id="done-highlight">Highlighting!! </span></p>
        <a href="/users/login"><button>Login</button></a>
      </div>  
    </div>
  </body>
</html>