<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/users/login-signup.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/javascripts/reset_password.js"></script>
  </head>
  <body>
    <div class="reset-password-page">
      <% if(iserror){ %>
        <span id="errormessage"><%= errorMessage%></span> 
      <% } %>    
      <div class="form">
        <form class="reset-password-form" method="POST">
          <h3>Reset your password, <%= name%>:</h3>
          <input type="text" name="reset_password_code" placeholder="Code sent earlier!" required/>
          <input type="password" name="password" placeholder="Password" id="password" minlength="8"
          required/>
          <input type="password" name="confirm_password" placeholder="Confirm-password" id="confirm_password"
          required/>
          <div id="message_div"><span id="password_message"></span></div>
          <input type="hidden" name="email" value="<%= email%>">
          <input type="hidden" name="name" value="<%= name%>">
          <input id='submit' type="submit" value="Reset Password"/>
        </form>
      </div>  
    </div>
  </body>
</html>