<html>
  <head>
      <link rel="stylesheet" href="/stylesheets/users/login-signup.css">
  </head>
  <body>
    <div class="login-page">
      <% if(iserror){ %>
        <span id="errormessage"><%= errorMessage%></span> 
      <% } %>
      <div class="form">
        <form class="register-form" method="POST" enctype="multipart/form-data">
          <input type="text" name="name" placeholder="name" required/>
          <input type="password" name="password" placeholder="password"  minlength="8" required/>
          <input type="email" name="email" placeholder="email address" required/>
          <input id='submit' type="submit" value="signup"/>
          <p class="message">Already registered? <a href="/users/login">Sign In</a></p>
        </form>
      </div>
    </div>
  </body>
</html>