/* The Modal (background) */
.delete-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .delete-modal-content {
    position: relative;
    background-color: #f4f442;
    margin: auto;
    padding: 0;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 5px;
    border: 1px solid black; /* Green border */
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .delete-close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .delete-close:hover,
  .delete-close:focus {
    color: #f4f442;
    text-decoration: none;
    cursor: pointer;
  }
  
  .delete-modal-header {
    padding: 6px 6px;
    background-color: black;
    color: #f4f442;
    font-family: monospace;
    margin-bottom: 5%;
    text-align: center;
  }
  
  .delete-modal-body {padding: 2px 16px;}
  
  .delete-modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }

  .delete-modal-content button {
    background-color: #f4f442; /* Green background */
    border: 1px solid black; /* Green border */
    cursor: pointer; /* Pointer/hand icon */
    width: 25%; /* Set a width if needed */
    /* display: none; Make the buttons appear below each other */
    margin-top: 0%;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 5%;
    color: black;
    border-radius: 5px;
    font-family: monospace;
  }

  .delete-modal-content button:hover {
      background-color: black;
      color: yellow;
  }


  /* The Modal (background) */
.delete-highlight-modal {
  display: none;
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 0; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.delete-highlight-modal-content {
  position: relative;
  background-color: #f4f442;
  margin: auto;
  padding: 0;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 5px;
  border: 1px solid black; /* Green border */
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.delete-close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.delete-close:hover,
.delete-close:focus {
  color: #f4f442;
  text-decoration: none;
  cursor: pointer;
}

.delete-highlight-modal-header {
  padding: 6px 6px;
  background-color: black;
  color: #f4f442;
  font-family: monospace;
  margin-bottom: 5%;
  text-align: center;
}

.delete-highlight-modal-body {padding: 2px 16px;}

.delete-highlight-modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.delete-highlight-modal-content button {
  background-color: #f4f442; /* Green background */
  border: 1px solid black; /* Green border */
  cursor: pointer; /* Pointer/hand icon */
  width: 25%; /* Set a width if needed */
  /* display: none; Make the buttons appear below each other */
  margin-top: 0%;
  margin-left: 12%;
  margin-right: 12%;
  margin-bottom: 5%;
  color: black;
  border-radius: 5px;
  font-family: monospace;
}

.delete-highlight-modal-content button:hover {
    background-color: black;
    color: yellow;
}