/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #f4f442;
    margin: auto;
    padding: 0;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 5px;
    border: 1px solid black; /* Green border */
    display: block;
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #f4f442;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 6px 6px;
    background-color: black;
    color: #f4f442;
    font-family: monospace;
    margin-bottom: 5%;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }

  .modal-content button {
    cursor: pointer; /* Pointer/hand icon */
    width: 25%; /* Set a width if needed */
    /* display: none; Make the buttons appear below each other */
    margin-top: 0%;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 5%;
    border-radius: 5px;
    font-family: monospace;
  }

  .modal-header h2 {
    margin-left: 5%;
  }

  .modal-form {
    display: block;
  }

  .modal-form-name {
    margin: 0;
    margin-left: 5%;
    font-family: monospace;
    font-size: 140%;
    /* display: block; */
  }
  .modal-form input, select {
    border-radius: 5px;
    margin-bottom: 3%;
    width: 50%;
    margin-left: 5%;
  }

  .each-member {
    margin: 0;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: white;
    border-bottom: 1px solid black;
    border-radius: 3px;
  }

  .member-list {
    position: absolute;
    z-index: 5;
    margin-left: 5%;
    width: 50%;
    font-family: monospace;
    display: none;
  }

  .member-list p {
    margin: 5%;
  }

  #input_space_members {
    margin-bottom: 0;
  }

  .added-members {
    margin-left: 5%;
    margin-top: 3%;
    border: 2px solid black;
    border-radius: 3px;
    width: 50%;
    height: 10%;
    display: inline-block;
    overflow-y: auto;
    margin-bottom: 3%;
    text-align: center;
    word-break: break-all;
  }

  .each-added-member {
    background-color: black;
    color: white;
    margin: 1%;
    font-family: monospace;
    display: inline;
    border-radius: 2px;
  }

  .each-added-member-name {
    /* background-color: black; */
    /* color: white; */
    /* margin: 2px; */
    margin-left: 2%;
    display: inline;
  }

  .remove-member {
    color: white;
    font-size: 100%;
    font-weight: bold;
    margin-right: 2%;
  }

  .remove-member:hover,
  .remove-member:focus {
    color: #f4f442;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-buttons {
    display: inline;
  }

  .modal-create-button {
    background-color: black;
    border: 1px solid white;
    color: white;
  }

  .modal-create-button:hover,
  .modal-create-button:focus {
    background-color: yellow;
    border: 1px solid black;
    color: black;
  }

  .modal-cancel-button {
    background-color: yellow;
    border: 1px solid black;
  }

  .modal-cancel-button:hover,
  .modal-cancel-button:focus {
    background-color: white;
    border: 1px solid black;
    color: black;
  }