<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/all.css">
    <link rel="stylesheet" href="/stylesheets/modal.css">
    <link rel="stylesheet" href="/stylesheets/deletemodal.css">
    <script src="/javascripts/spaces.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
      body {
        margin: 0;
      }

      .main-wrapper {
        width: 100%;
        height: 100%;
        display: block;
      }
      .modal-navigator {
        background-color: yellow;
        color: white;
        height: 10%;
        border-bottom: 2px solid black;
        box-shadow: 0 4px 2px -2px gray;
      }
      .wrapper-div {
        vertical-align: middle
      }
      .button {
        background-color: black;
        display: inline-block;
        cursor: pointer;
        /* width: 10%; */
        height: 40%;
        color: white;
        position: relative;
        border-radius: 5px;
        font-family: monospace;
        margin-right: 5%;
      }

      .button:hover {
        background-color: white;
        color: black;
      }

      .modal-navigator {
        display: table;
        width: 100%;
      }

      .wrapper-div {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
      }

      .main-content {
        height: 90%;
      }

      .spaces-list {
        height: 100%;
        width: 40%;
        border-right: 1px solid black;
        display: inline-block;
        position: relative;
        z-index: 0;
      }

      .spaces {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        position: absolute;
        z-index: 1;
        overflow-y: auto;
      }

      .no-spaces {
        width: 100%;
        /* height: 100%; */
        position: absolute;
        z-index: 2;
        text-align: center;
        /* display: none; */
      }

      .no-spaces p {
        margin-top: 40%;
        padding: 0;
        font-family: monospace;
        font-size: 150%;
      }

      .no-spaces span {
        background-color: yellow;
      }

      .create-space {
        background-color: yellow;
        border: 2px solid black;
        height: 10%;
        width: 12%;
        position: absolute;
        border-radius: 50%;
        z-index: 3;
        bottom: 0;
        right: 0;
        margin-right: 5%;
        margin-bottom: 5%;
        cursor: pointer;
      }

      .create-symbol {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
      }

      .each-space {
        width: 100%;
        height: 20%;
        background-color: yellow;
      }

      .my-space-entry {
        height: 10%;
        width: 100%;
        background-color: black;
        font-family: monospace;
        /* position: absolute; */
        border-bottom: 1px solid yellow;
        cursor: pointer;
        z-index: 3;
      }

      .my-space-div {
        width: 80%;
        height: 80%;
        /* margin: auto; */
        top: 35%;
        left: 3%;
        position: relative;
      }

      .my-space-title {
        margin:0;
        font-weight: bold;
        font-size: 120%;
        color: white;
      }

      .seperating-entry {
        height: 5%;
        width: 100%;
        background-color: yellow;
        font-family: monospace;
        /* position: absolute; */
        border-bottom: 1px solid black;
        z-index: 3;
      }

      .seperating-div {
        width: 80%;
        height: 80%;
        /* margin: auto; */
        top: 25%;
        left: 3%;
        position: relative;
      }

      .seperating-title {
        margin:0;
        font-weight: bold;
        position: absolute;
        color: black;
        text-decoration: underline;
      }

      .each-space-entry {
        height: 10%;
        width: 100%;
        background-color: #f6f7c3;
        font-family: monospace;
        /* position: absolute; */
        border-bottom: 1px solid black;
        cursor: pointer;
        z-index: 3;
      }

      .each-space-div {
        width: 95%;
        height: 80%;
        /* margin: auto; */
        top: 10%;
        left: 3%;
        position: relative;
      }

      .each-space-title {
        margin:0;
        font-weight: bold;
        position: absolute;
        color: black;
        font-size: 120%;
      }

      .each-space-members {
        margin:0;
        margin-top: 5%;
        position: absolute;
        color: black;
        font-size: 105%;
        font-style: italic;
      }

      .highlight-content {
        width: 60%;
        height: inherit;
        background-color: #f5f5e4;
        display: inline;
        position: absolute;
        text-align: center;
      }

      .total-content {
        display: inline;
      }

      .guiding-message {
        margin: 0;
        font-family: monospace;
        z-index: 4;
        align-self: center;
      }

      .guiding-message-div {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
      }

      .no-highlight-message {
        margin: 0;
        font-family: monospace;
        z-index: 4;
        align-self: center;
      }

      .no-highlight-message-div {
        width: 100%;
        height: 100%;
        position: absolute;
        display: none;
        justify-content: center;
      }

      .highlights-list {
        width: 100%;
        height:100%;
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        top: 0;
        overflow-y: scroll;
      }

      .my-each-highlight {
        width: 100%;
        height: 7%;
        position: relative;
      }

      .each-highlight-first-class {
        width: fit-content;
        max-width: 60%;
        margin-right: 2%;
        margin-top: 1%;
        /* padding-left: 1%;
        padding-right: 3%; */
        float: right;
        border-radius: 5px;
        background-color: white;
        display: flex;
        justify-content: flex-end;
      }

      .each-highlight-content {
        display: inline-block;
        width: fit-content;
        max-width: 100%;
        float: right;
        background-color: white;
        font-family: monospace;
        padding-right: 3px;
        padding-left: 3px;
        border-radius: 5px;
      }

      .my-each-highlight-div {
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
      }

      .my-menu-sign-div {
        height: fit-content;
        display: inline-block;
        float: right;
        margin: 0;
        margin-top: 2px;
        margin-right: 2px;
      }

      .my-menu-sign {
        cursor: pointer;
      }

      .my-each-highlight-name {
        text-align: left;
        white-space: nowrap;
      }

      .other-each-highlight {
        width: 100%;
        height: 9%; 
        position: relative;
      }

      .other-each-highlight-div {
        display: inline-block;
        width: fit-content;
        max-width: 95%;
        float: left;
        background-color: white;
        font-family: monospace;
        padding-right: 3px;
        padding-left: 3px;
        border-radius: 5px;

        /* display: inline-block;
        background-color: white;
        width: fit-content;
        margin-left: 2%;
        margin-top: 1%;
        padding-left: 1%;
        padding-right: 1%;
        float: left;
        max-width: 60%;
        font-family: monospace;
        border-radius: 5px; */
      }

      .other-person-name {
        text-align: left;
      }

      .other-highlight-name {
        text-align: left;
      }

      .other-highlight-content {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        float: left;
        max-width: 100%;
      }

      .standard-highlight {
        background-color: yellow;
      }

      .premium-text {
        color:black;
        margin:0;
        font-family: monospace;
        margin-left: 180%;
        /* padding-left: 2%; */
        /* padding-right: 2%; */
      }

      .premium-button {
        background-color: black;
        display: inline-block;
        cursor: pointer;
        width: 25%;
        height: 40%;
        color: white;
        position: relative;
        border-radius: 5px;
        font-family: monospace;
        margin-left: 120%;
      }

      .premium-button:hover {
        background-color: white;
        color: black;
      }

      .standard-highlight-red {
        background-color: red;
        color: white;
        /* padding: 0; */
      }

      .user-not-found-span {
        color: white;
        background-color: black;
        font-family: monospace;
        display: none;
      }

      input {
        font-family: monospace;
      }

      .add-member-message {
        font-family: monospace;
        /* display: none; */
      }

      .loader {
        display: inline-block;
        width: 10%;
        height: 12%;
        position: relative;
        border: 4px solid #e6e600;
        top: 25%;
        left: 45%;
        animation: loader 2s infinite ease;
      }

      .loader-inner {
        vertical-align: top;
        display: inline-block;
        width: 100%;
        background-color: #e6e600;
        animation: loader-inner 2s infinite ease-in;
      }

      @keyframes loader {
        0% {
          transform: rotate(0deg);
        }
        
        25% {
          transform: rotate(180deg);
        }
        
        50% {
          transform: rotate(180deg);
        }
        
        75% {
          transform: rotate(360deg);
        }
        
        100% {
          transform: rotate(360deg);
        }
      }

      @keyframes loader-inner {
        0% {
          height: 0%;
        }
        
        25% {
          height: 0%;
        }
        
        50% {
          height: 100%;
        }
        
        75% {
          height: 100%;
        }
        
        100% {
          height: 0%;
        }
      }

      #loader_div {
        width: 100%;
        height: 20%;
        position: absolute;
        z-index: 4;
        margin-top: 30%;
        display: none;
      }

      #loader_div_highlight {
        width: 100%;
        height: 65%;
        position: absolute;
        top: 0;
        z-index: 4;
        margin-top: 30%;
        display: none;
      }

      .loader-highlight {
        display: inline-block;
        width: 10%;
        height: 12%;
        position: relative;
        border: 4px solid #e6e600;
        animation: loader 2s infinite ease;
      }

      .space-delete-sign {
        position: relative;
        left: 95%;
        top: 20%;
      }

      .delete-space-style {
        background-color: white;
        color: black;
      }

      .notification-sign {
        background-color: black;
        width: 2%;
        text-align: center;
        top: 3.4%;
        left: 70%;
        position: absolute;
        border-radius: 5px;
        cursor: pointer;
        display: inline;
      }

      .notification-sign:hover {
        background-color: grey;
      }

      .notification-content {
        width: 30%;
        height: 40%;
        position: absolute;
        left: 65%;
        top: 7%;
        background-color: black;
        z-index: 10;
        border-radius: 5px;
        background-color: #f6f7c3;
        border: 1px solid black;
        overflow-y: auto;
        display: none;
      }

      .notification-content-ul {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        list-style-type: none;
      }

      .notification-content-li {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        list-style-type: none;
        border-bottom: 1px solid black;
        font-family: monospace;
        padding-top:2%;
        padding-bottom: 2%;
        /* margin-left:2%; */
      }

      .unread-notification {
        background-color: #f7e68f;
      }

      .copy-sign {
        position: absolute;
        right: 2.5%;
        top: 37%;
        cursor: pointer;
        /* margin: auto; */
      }

      .other-highlight-main {
        /* position: relative;
        width: 100%;
        height: fit-content; */
        width: fit-content;
        max-width: 60%;
        margin-left: 2%;
        margin-top: 1%;
        float: left;
        border-radius: 5px;
        background-color: white;
        display: flex;
        justify-content: space-between;
      }

      .other-copy-sign {
        /* position: absolute;
        right: 2.5%;
        top: 37%; */
        cursor: pointer;
      }

      .example-1 {
        width: 100%;
        height: 7%;
      }

      .example-2 {
        /* width: fit-content;
        height: 100%;
        display: inline; */
      }

      .example-vertical {
        height: 100%;
        display: inline-block;
        float: left;
      }

      .menu-sign-div {
        height: fit-content;
        display: inline-block;
        float: left;
        margin: 0;
        margin-top: 4px;
        margin-right: 4px;
      }

      .menu-div {
        width: 100px;
        height: 80px;
        position: absolute;
        background-color: #f3e1a8;
        border: 1px solid black;
        border-radius: 5px;
        text-align: left;
        display: none;
      }

      .other-menu-div {
        width: 100px;
        height: 40px;
        position: absolute;
        background-color: #f3e1a8;
        border: 1px solid black;
        border-radius: 5px;
        text-align: left;
        display: none;
      }

      .menu-item-copy {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid black;
        cursor: pointer;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      .other-menu-item-copy {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        cursor: pointer;
        border-radius: 5px;
      }

      .menu-item-delete {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        cursor: pointer;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      .menu-item-copy:hover, .other-menu-item-copy:hover, .menu-item-delete:hover {
        background-color: black;
        color: white;
      }

      .menu-item-content {
        align-self: center;
        font-family: monospace;
        font-size: 15px;
      }

      .copy-toast-div {
        width: 150px;
        text-align: center;
        position: absolute;
        top: 85%;
        left: 42%;
        background-color: grey;
        /* opacity: 0.8; */
        border-radius: 5px;
        display: none;
        z-index: 11;
      }

      .copy-toast-message {
        margin: 0;
        padding: 0;
        font-weight: bold;
        font-family: monospace;
        font-size: 15px;
      }

    </style>
  </head>
  <body>
    <div class="main-wrapper">
      <div id="notification_content_tray" class="notification-content">
        <ul id="notification_content_ul" class="notification-content-ul">
            <!-- <li class="notification-content-li unread-classification"><span class="standard-highlight">Anish</span> added sdsdsyou in
              <span class="standard-highlight">ML Project</span></li> -->
        </ul>
      </div>
      <div class="modal-navigator">
            <div id="natification_button" class="notification-sign">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </div>
          <div class="wrapper-div">
            <%if (isPremium) { %>
              <p class="premium-text"><span class="standard-highlight-red">Premium</span></p>
            <% } else {%>
              <a  href="/spaces/<%=userId%>/payments"><button type="button" class="premium-button">Get Premium</button></a>
            <% } %>
          </div>
        <div class="wrapper-div">
          <button id="spaces_logout_button" type="button" class="button"> Logout </button>
        </div>
      </div>
      <div class="main-content">
        <div class="spaces-list">
          <ul id="spaces" class="spaces">
            <li id="my_space_entry" class="my-space-entry">
              <div class="my-space-div">
                <p class="my-space-title">My space</p>
              </div>
            </li>
            <li class="seperating-entry">
              <div class="seperating-div">
                <p class="seperating-title">Other Collab spaces</p>
              </div>
            </li>
            <!-- <li class="each-space-entry">
              <div class="each-space-div">
                <p class="each-space-title">WPL Project</p>
                <p class="each-space-members">Anish,Pragya</p>
                <i class="space-delete-sign fa fa-trash-alt" aria-hidden="true"></i>
              </div>
            </li> -->
            <div id="no_spaces" class="no-spaces">
              <p>No <span>collab spaces</span> yet!</p>
            </div>
            <div id="loader_div">
              <span class="loader"><span class="loader-inner"></span></span>
            </div>
          </ul>
          <div id = "create_space" class="create-space">
            <i class="create-symbol fas fa-plus fa-lg"></i>
          </div>
        </div>
        <div class="highlight-content">
          <div id="no_highlight_message_div" class="no-highlight-message-div">
            <p id="no_highlight_message" class="no-highlight-message">
              This <span class="standard-highlight">space</span> does not have any highlights!
            </p>
          </div>
          <div id="guiding_message_div" class="guiding-message-div">
            <p id="guiding_message" class="guiding-message">Your <span class="standard-highlight">highlights</span> will be shown here!
            Please select any space from the list</p>
          </div>
          <ul id="space_highlights_data" class="highlights-list">
            <!-- <li class="my-each-highlight">
              <div class="my-each-highlight-div">
                <a target="_blank" href="https://www.linkedin.com/in/anish-patel-4a40b4135/">give you frei</a>
                <i title="Copy Highlight!" class="copy-sign fa fa-clipboard"></i>
              </div>
            </li> -->
            <li class="my-each-highlight">
              <div class="each-highlight-first-class">
                <div class="each-highlight-content">
                  <div class="my-each-highlight-name">
                    Anish Name
                  </div>
                  <div class="my-each-highlight-div">
                    <a target="_blank" href="https://www.linkedin.com/in/anish-patel-4a40b4135/">g</a>
                    
                  </div>
                </div>
                <div class="my-menu-sign-div">
                  <i title="Copy Highlight!" class="my-menu-sign fa fa-ellipsis-v"></i>
                </div>
              </div>
            </li>
            <li class="my-each-highlight">
              <div class="each-highlight-first-class">
                <div class="each-highlight-content">
                  <div class="my-each-highlight-name">
                    Anish Name
                  </div>
                  <div class="my-each-highlight-div">
                    <a target="_blank" href="https://www.linkedin.com/in/anish-patel-4a40b4135/">give askjsjdjsydjsjdhjshd jshdjshj dsj jshd sjdhsjdkahab s jhajsd jhjahdsjdhshdjshdjsksjdkajkjk</a>
                  </div>
                </div>
                <div class="my-menu-sign-div">
                  <i title="Copy Highlight!" class="my-menu-sign fa fa-ellipsis-v"></i>
                </div>
              </div>
            </li>
            <li class="other-each-highlight">
              <div class="other-highlight-main">
                <div class="other-each-highlight-div">
                  <div class="other-person-name">
                    <span class="standard-highlight">Pragya</span>
                  </div>
                  <div class="other-highlight-name">
                    Highlight Name
                  </div>
                  <div class="other-highlight-content">
                    <a target="_blank" href="https://www.w3schools.com/html/">ou will find complete references about HTML elements, 
                    attributes, events, color names, entities, character-sets, URL encoding, 
                    l</a>
                  </div>
                </div>
                <div class="menu-sign-div">
                  <i title="Copy Highlight!" class="other-copy-sign fa fa-ellipsis-v"></i>
                </div>
              </div>
            </li>
            <li class="other-each-highlight">
              <div class="other-highlight-main">
                <div class="other-each-highlight-div">
                  <div class="other-person-name">
                    <span class="standard-highlight">Pragya</span>
                  </div>
                  <div class="other-highlight-name">
                    Highlight Name
                  </div>
                  <div class="other-highlight-content">
                    <a target="_blank" href="https://www.w3schools.com/html/">ttributes,</a>
                  </div>
                </div>
                <div class="menu-sign-div">
                  <i title="Copy Highlight!" class="other-copy-sign fa fa-ellipsis-v"></i>
                </div>
              </div>
            </li>
            <li class="other-each-highlight">
              <div class="other-highlight-main">
                <div class="other-each-highlight-div">
                  <div class="other-person-name">
                    <span class="standard-highlight">Sid</span>
                  </div>
                  <div class="other-highlight-name">
                    H
                  </div>
                  <div class="other-highlight-content">
                    <a target="_blank" href="https://www.w3schools.com/html/">A,</a>
                  </div>
                </div>
                <div class="menu-sign-div">
                  <i title="Copy Highlight!" class="other-copy-sign fa fa-ellipsis-v"></i>
                </div>
              </div>
            </li>
            <!-- <li class="example-1">
              <div class="example-2">
                <div class="example-vertical">
                  <div>Anish</div>
                  <div>Content</div>
                </div>
                <div class="example-vertical-2">
                  <i title="Copy Highlight!" class="other-copy-sign fa fa-ellipsis-v"></i>
                </div>
              </div>
            </li> -->
            <!-- <li class="my-each-highlight">
              <div>
              <div class="my-each-highlight-div">
                <a target="_blank" href="https://www.linkedin.com/in/anish-patel-4a40b4135/">give </a>
                
              </div>
              <i title="Copy Highlight!" class="copy-sign fa fa-ellipsis-v"></i>
            </div>
            </li> -->
            <!-- <li class="my-each-highlight">
              <div class="my-each-highlight-div">
                  <a>This highlight is done by me for this collab space</a>
              </div>
            </li>
            <li class="my-each-highlight">
              <div class="my-each-highlight-div">
                  This is another highlight by me
              </div>
            </li>
            <li class="other-each-highlight">
              <div class="other-each-highlight-div">
                  <div class="other-person-name"><span class="standard-highlight">Pragya</span></div>
                  <div class="other-highlight-content">Highlight done by Pragya!!</div>
              </div>
            </li>
            <li class="other-each-highlight">
              <div class="other-each-highlight-div">
                  <div class="other-person-name"><span class="standard-highlight">Sid</span></div>
                  <div class="other-highlight-content">Highlight is contributed by Sid!!</div>
              </div>
            </li> -->
          </ul>
          <div class="copy-toast-div" id="copy_toast_div">
            <p class="copy-toast-message">Highlight Copied!</p>
          </div>
          <div id="loader_div_highlight">
            <span class="loader-highlight"><span class="loader-inner"></span></span>
          </div>
          <div id="delete_highlight_modal" class="delete-highlight-modal">

            <div class="delete-highlight-modal-content">
              <div class="delete-highlight-modal-header">
                <span id="delete_highlight_cancel" class="close">&times;</span>
                <h2 id="delete_highlight_message">Are you sure you want to delete this highlight</h2>
              </div>
              <button id="yes_delete_highlight">Yes</button>
              <button id="no_delete_highlight">No</button>
            </div>
          </div>
          <div id=""></div>
        </div>
      </div>
      
      
      <div id="myModal" class="modal">

        <div class="modal-content">
          <div class="modal-header">
            <span id="modal_close_button" class="close">&times;</span>
            <h2>Create a new collab space</h2>
          </div>
          <div class="modal-form">
              <p class="modal-form-name"> Name:</p>
              <input id="input_space_name" placeholder="Type name of the space!" type="text"/>
              <span class="user-not-found-span" id="name_error"></span>
          </div>
          <div class="modal-form" >
              <p class="modal-form-name"> Members:</p>
              <input id="input_space_members" placeholder="Type Email and hit Enter!" type="text">
              <span class="user-not-found-span" id="user_not_found"></span>
              <div class="member-list">
                <div class="each-member"><p>pragya</p></div>
                <div class="each-member"><p>anish</p></div>
              </div>
          </div>
          <div class="modal-form">
            <div id="added_members" class="added-members">
              <p id="add_member_message" class="add-member-message">Add Members from above!</p>
              <!-- <div class="each-added-member">
                <p class="each-added-member-name">anish</p>
                <span class="remove-member">&times;</span>
              </div>
              <div class="each-added-member">
                <p class="each-added-member-name">pragya</p>
                <span class="remove-member">&times;</span>
              </div>
              <div class="each-added-member">
                <p class="each-added-member-name">sid</p>
                <span class="remove-member">&times;</span>
              </div> -->
            </div>
          </div>
          <div class="modal-buttons">
            <button id="modal_create_button" class="modal-create-button">Create</button>
            <button id="modal_cancel_button" class="modal-cancel-button">Cancel</button>
          </div>
        </div>
      
      </div>
      <div id="delete_modal" class="delete-modal">

        <div class="delete-modal-content">
          <div class="delete-modal-header">
            <span id="delete_space_cancel" class="close">&times;</span>
            <h2 id="delete_space_message">Are you sure you want to delete</h2>
          </div>
          <button id="yes_delete_space">Yes</button>
          <button id="no_delete_space">No</button>
        </div>
      </div>
      <div id="menu_div" class="menu-div">
        <div id="menu_copy" class="menu-item-copy">
          <div class="menu-item-content">Copy</div>
        </div>
        <div id="menu_delete" class="menu-item-delete">
          <div class="menu-item-content">Delete</div>
        </div>
      </div>
      <div id="other_menu_div" class="other-menu-div">
        <div id="other_menu_copy" class="other-menu-item-copy">
          <div class="menu-item-content">Copy</div>
        </div>
      </div>
    </div>
  </body>
</html>
